*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(157, 168, 97, 0.178);

}
nav{
    width: 100%;
    background-color: rgba(197, 171, 117, 0.856);
    position: fixed;
    margin-bottom: 3em;    
}
.mhorizontal{
    list-style: none;
    width: 100%;
}

nav .col{
    width: 60%;
}
nav .col li{
    display: inline-block;
}
.mhorizontal  li a{
    display: inline-block;
    padding: 0.6em 0.8em;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    
}
.mvertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 14em;
    background-color: rgba(121, 114, 114, 0.678);
    text-align: center;
}
.mhorizontal a:hover{
    color: rgba(0, 0, 0, 0.87);
}
.mhorizontal li:hover .mvertical{
    display: block;
}
.mvertical li{
    width: 13.8em;

}
.mvertical li:hover{
    border: black solid 2px;
    background-color: rgba(0, 0, 0, 0.144);
}
.mvertical li a{
   color: rgb(255, 255, 255);
   text-decoration: none;
   
}
.col{
    display: inline-block;
    width: 18%;
}
header{
    background-image: url('../img/portada2.1.jpg');
    background-size: cover;
    height: 30em;
}
header .row .titu{
    margin: 0em auto;
    width: 60%;
    color: rgba(197, 171, 117, 0.856);
    font-size: 2.5em;
}
header  .colt{
    padding-top: 4em;
}
img{
    max-width: 100%;
}
nav .nav1{
    margin-left: 4em;
    font-size: 2em;
    color: aliceblue;
    width: 10%;

}
.nav2 a{
    margin: 0 0.5em;
    
}
.nav2 {
    margin: 0 0.5em;
    margin-left: 5em;
    width: 80%;
    
}
.nav2 .flechita{
    width: 20%;
}
section{
    background-color: rgba(157, 168, 97, 0.178);
}
.seccion1 .row{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px 10px;
   
   
}
.seccion1 .col{
    display: inline-block;
    width: 23%;
}
.seccion1 .col .icono{
    width: 8%;
    font-size: 2em;
    color: rgba(197, 171, 117, 0.856);
    padding-top: 0.2em 0;
    text-align: left;
    margin-right: 0.8em;
    
}
.seccion1 .col .texto{
    width: 72%;
    vertical-align: top;
    text-align: left;
    font-size: 0.8em;
    
}
.texto a{
    text-decoration: none;
    color: black;
}
.seccion1 .row .col:hover{
    transform: scale(1.1);
     
}
.seccion1 .negrita{
    font-weight: bold;
}

.seccion1 .princi{
    margin-top: 2em;
    box-shadow: 1px 1px  rgb(0, 0, 0);
    background-color: white;
    padding-top: 1em;
    padding-left: 1em;
}

.titu2{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 2em 0;
}
.seccion2 .row{
    width: 85%;
    margin: 0 auto;
}
.seccion2 .col{
    display: inline-block;
    width: 32.4%;
    text-align: center;
    margin-left: 0.1em;
    border-radius: 20px 20px;
    height: 9em;
    
}
.seccion2 .imagen1{
    background-image: url('../img/IMG_191872-490x320.jpg');
    background-size: cover;
    text-decoration: none;
}
.seccion2 .imagen2{
    background-image: url('../img/Cafe-mocha-mo.jpg');
    background-size: cover;
}
.seccion2 .imagen3{
    background-image: url('../img/OIP1.jpg');
    background-size: cover;
}
.seccion2 .col:hover{
    transform: scale(0.9);
}
.seccion2 h1{
    font-size: 2em;
    margin-top: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    padding-top: 0.5em;
    border-bottom: 0.1em aliceblue solid;
}
.seccion2 p{
    font-size: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    padding-bottom: 0.5em;
}

.seccion3 .row {
    text-align: center;
}
.seccion3 .col {
    border-radius: 10px 10px 0px 0px;
    margin: 0.5em;
    width: 15%;
    background-color: white;
    text-align: center;
}

.seccion3 .cont{
    width: 80%;
}
.seccion3 .v3, .v4{
    width: 50%;
}
.seccion3 .v1 {
    padding: 0.7em 2em 0em 2em;
    
}
.seccion3 .v2{
    padding: 0.7em 0em 0em 0em;
}
.seccion3 .iconca{
    width: 30%;
    padding: 0;
    justify-content: left;
}

.seccion3 h1 {
    background-color: rgba(0, 0, 0, 0.171);
    padding-bottom: 0.2em;
    color:  black;
    padding-top: 0.5em;
    font-size: 1.2em;
    border-radius: 10px 10px;
    
}


.seccion3 .canasta{
    margin-top: 1em;
    color: rgba(197, 171, 117, 0.856);
    margin-left: -6.2em;
    border-radius: 50%;
    border: 1px solid;
    padding: 0.5em;
    font-size: 1.1em;
}
.seccion3 .icon{
    color: rgba(197, 171, 117, 0.856);
}

.seccion3 .col:hover{
    transform: scale(1.1);
}


.seccion4 .row{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.seccion4 .lado{
    width: 25%;
}
.seccion4 .mitad{
    width: 45%;
}

.seccion4 img:hover{
    color: rgba(0, 0, 0, 0.13);
    cursor: pointer;
}

.seccion6 .row{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 3em;
}
.seccion6 .col{
    width: 26%;
    margin: 0 1em;
    text-align: left;
    font-size: 0.9em;
    
}
.seccion6 img{
    border-radius: 10px 10px;
}
.seccion6 a{
    background-color: rgba(197, 171, 117, 0.856);
    padding: 1em;
    text-decoration: none;
    border-radius: 10px 10px;
    color: white;
   
}
footer .row{
    padding: 2em;
    background-color: rgba(197, 171, 117, 0.856);
   
}
footer .col{
    margin-left: 3em;
    display: inline-block;
    width: 20%;
}

.envio{
    background-color: rgba(157, 168, 97, 0.178);
    margin-top: 3em;

}
.envio .barra{
    background-color: rgba(197, 171, 117, 0.856);
}
.envio1 .row{
    width: 57%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;

}

.envio1 .inic{
    font-size: 1.3em;
 
}

.botones .col{
    padding: 1em;
    border-radius: 10px 10px;
    border: black solid;
    background-color: rgba(197, 171, 117, 0.856);
    margin: 0 6.5em;
    cursor: pointer;
    
}

.botones a{
    text-decoration: none;
    color: white;
}

#menu-toggle {
    display: none;
}
.menu-icon{
    display: none; 
    font-size: 30px; 
    padding: 10px 12px;
    cursor: pointer; 
    color: white; 
}
.botona{
    width: 10%;
    padding: 1em;
    text-decoration: none;
}
.envio .re{
    margin-top: -3em;

}
.botona .col a{
    font-size: 1.5em;
    text-decoration: none;
    border-radius: 20px 20px;
    color: rgb(0, 0, 0);
}

.cont-re{
    text-align: center;

}
.cont-re .col{
    text-align: left;
    width: 85%;
}
.cont-re .dis{
    display: inline-block;
    width: 40%;
    margin: 0.5em;
    padding-bottom: 7.8em;
}

.regalo .row{
    width: 80%;
    margin: 0 auto;
}
.regalo .col{
    width: 30%;
    vertical-align: top;

}
.regalo p{
 margin-top: 1.5em;
}
.categorias .row{
    text-align: center;
    padding-top: 1em;
}

.categorias .row .col{
    width: 43%;
    vertical-align: top;
    text-align: left;
    margin-right: 1em;
}
.botca{
    padding: 0.5em;
    text-decoration: none;
    border-radius: 20px 20px;
    background-color:rgba(197, 170, 117, 0.788);
    color: white;
}
.categorias .row2{
    width: 90%;
    text-align: left;
    margin: 0  auto;
    padding: 1em;
}
.categorias .col2{
    width: 100%;
}
.categorias .col img{
    border-radius: 24px 24px;
}

.mejores .im{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.mejores .row{
    width: 100%;
    text-align: center;
    
}
.mejores .col{
    width: 30%;
}
.mejores img{
    border-radius: 20px 20px;
}
.mejores .parra{
    margin-top: 1em;
    width: 80%;
    text-align: left;
    padding-bottom: 1em;
}
.mejores .ime{
    text-align: left;
    padding: 1em;
    font-size: 1.3em;
}
.mejores i{
    color: black;
}


.mejores img{
    text-align: center;
    width: 100%;

}


.blogs .row{
    width: 95%;
    margin:  0 auto;
    padding-top: 1em;
    padding-bottom: 1.2em;
}
.blogs .col{
    width: 80%;
}
.blogs .uno{
    width: 30%;
    
}
.blogs .dos{
    width: 60%;
    vertical-align: top;
}
.blogs img{
    border-radius: 20px 20px;
}
@media (max-width:400px)  {
    header .row .titu{
        margin: 0em auto;
        width: 60%;
        color: rgba(197, 171, 117, 0.856);
        font-size: 1.8em;
    }
    
    .seccion1 .row .col{
        width: 95%;
        text-align: center;
        font-size: 1.1em;
    }
    .seccion1 .col .icono{
        width: 10%;
        font-size: 2em;
        color: rgba(197, 171, 117, 0.856);
        padding-top: 0.2em 0;
        text-align: left;
        margin-right: 0.8em;
    }


    .seccion2 .row{
        width: 95%;
        margin: 0 auto;
        text-align: center;

    }
    .seccion2 .col{
        display: inline-block;
        width: 100%;
        text-align: center;
        
        border-radius: 20px 20px;
        height: 9em;
        border: black solid;
        margin: 1em;
    }


    .seccion3 .row .col {
        border-radius: 10px 10px 0px 0px;
        margin: 0.5em;
        width: 80%;
        background-color: white;
        text-align: center;
    }


    .seccion6 .row .col{
        width: 100%;
        margin: 2em 0em;
        text-align: left;
        font-size: 0.9em;
        
    }


    footer .row .col{
        display: none;
        
    }
    
    
    .envio1 .row{
        width: 100%;
        margin: 0 auto;
        margin-top: 2em;
    }
    .envio1 .inic{
        font-size: 0.6em;
        margin-left: 0.3em;
    }


    .botones .row .col{
        display:  inline-block;
        padding: 0.7em;
        border-radius: 10px 10px;
        background-color: rgba(197, 171, 117, 0.856);
        width: 88%;
        cursor: pointer;
        margin-left: 0.5em;
        margin-bottom: 1em;
    }
    .cont-re .col{
        text-align: left;
        width: 85%;
    }
    .cont-re .desa{
        display: none;
    }


    .mejores .im{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .mejores .col{
        width: 60%;
    }


    .regalo .row{
        width: 80%;
        margin: 0 auto;
    }
    .regalo .col{
        width: 80%;
        vertical-align: top;
    
    }
    .regalo p{
        margin-top: 1.5em;
        margin-left: 1em;
    }
    .regalo input{
        
        margin-left: 1.3em;
    }

    .categorias img{
        width: 100%;
    }
    .categorias .desa{
        display: none;
    }


    .blogs .desa{
        display: none;
    }
    .seccion4 .col{
        display: inline-block;
        width: 80%;
    }
    .seccion4 img{
        border-radius: 20px 20px;
    }
    .seccion4 .mitad, .seccion4 .desa{
        width: 100%;
        display: none;
    }
}
@media (min-width:400px) and (max-width:749px) {
    header .row .titu{
        margin: 0em auto;
        width: 80%;
        color: rgba(197, 171, 117, 0.856);
        font-size: 2em;
    }
    .envio1 .row{
        width: 100%;
        margin: 0 auto;
        margin-top: 2em;
    }
    .envio1 .inic{
        font-size: 0.8em;
        margin-left: 0.4em;
    }

    .botones .row .col{
        display:  inline-block;
        padding: 0.7em;
        border-radius: 10px 10px;
        background-color: rgba(197, 171, 117, 0.856);
        width: 88%;
        cursor: pointer;
        margin-left: 0.5em;
        margin-bottom: 1em;
    }


    .categorias img{
        width: 100%;
    }
    .categorias .desa{
        display: none;
    }


    .blogs .desa{
        display: none;
    }
    .blogs .col{
        width: 40%;
    }
    .blogs .row{
        margin-left: 2em;
    }
   

    
    
}
@media (max-width:750px) {
    nav{
        width: 100%;
        background-color: rgba(197, 171, 117, 0.856);
        position: absolute;
        margin-bottom: 3em;    
    }
    .nav1{
        display: none;
    }  
    .mhorizontal  li {
        width: 100%;
        color: white;
        text-decoration: none;
        font-size: 1.3em;
        flex-direction: column;
        background-color: rgba(41, 40, 38, 0.822);
        margin-left: -3.7em;
        padding-left: 1em;  
    } 
    nav{
        display: none;
        background-color: rgba(0, 0, 0, 0);
        
    }
    .mhorizontal li:hover{
        border: black solid 2px;
        background-color: rgba(0, 0, 0, 0.521);
    }
    .nav2 .flechita{
        width: 100%;
    }
    .nav2 .flechita i{
        display: none;
    }
    .menu-icon{
        display: block;
        background-color:rgba(197, 170, 117, 0.562);
        
    }
    #menu-toggle:checked + .menu-icon + nav{
        display: flex;
    }
    .mhorizontal li:hover .mvertical{
        display: none;
    }


    .seccion1 .col{
        display: inline-block;
        width: 43%;
    }
    
    .seccion2 .row{
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
    .seccion2 .col{
        display: inline-block;
        width: 75%;
        text-align: center;
        margin-left: 0.1em;
        border-radius: 20px 20px;
        height: 9em;
        border: black solid;
        margin: 1em;
    }


    .seccion3 .col {
        border-radius: 10px 10px 0px 0px;
        margin: 0.5em;
        width: 35%;
        background-color: white;
        text-align: center;
    }
    .seccion3 .cont{
        width: 80%;
    }
    .seccion3 .iconca{
        width: 30%;
        padding: 0;
        justify-content: left;
    }
    .seccion3 .canasta{
        color: rgba(197, 171, 117, 0.856);
        margin-left: -6.2em;
        border-radius: 50%;
        border: 1px solid;
        padding: 0.5em;
        font-size: 1.1em;
    }
    .seccion3 .col:hover{
        transform: scale(1);
    }


    .seccion6 .col{
        width: 70%;
        margin: 2em 1em;
        text-align: left;
        font-size: 0.9em;
        
    }
    

    footer .col{
        margin-left: 3em;
        display: inline-block;
        width: 40%;
    }
}
@media (min-width:751px) and (max-width:900px) {
    .nav1{
        display: none;
    }
    
    
    
    nav .col{
        width: 100%;
        margin-left: 0.8em;
    }

    header .row .titu{
        margin: 0em auto;
        width: 80%;
        color: rgba(197, 171, 117, 0.856);
        font-size: 2.5em;
        padding-top: 6em;
    }

    .seccion1  .col{
        width: 44%;
        text-align: center;
        font-size: 1.1em;
    }

    .seccion3 .col{
        width: 48%;
    }
   

    
    
}
@media (min-width:901px) and (max-width:1115px)  {
   
   
    
    nav .col{
        width: 100%;
        margin-left: 3em;
    }
    .nav1{
        display: none;
    }


    .seccion1 .col{
        display: inline-block;
        width: 44%;
    }
    
    
    footer .col{
        margin-left: 1em;
        display: inline-block;
        width: 22%;
    }
    
}
